.btn{
    display: inline-block;
    line-height: 1;
    font-weight: 400;
    width: 100%;
    border: none;
    padding: 17px;
    transition: all .09s ease-out;
}
.btn-accent{
    background-color: #D4C17F;
    color: #fff;
}
.btn-accent:hover{
    background-color: #8d8056;
    color: #fff;
}